* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


body {
    width: 100%;
    height: 100vh;
    background-color: #DADDD8;
    padding: 2rem;
    font-family: sans-serif;
    display: flex;
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
}


/* THEME */
.theme {
    display: flex;
    justify-content: space-between;
}

.theme h2 {
    font-family: 'Lobster', cursive;
}

:is(#light, #dark) {
    cursor: grab;
    width: 6.9rem;
    border-radius: 1rem;
    text-align: center;
    padding: 5px;
    font-size: .9rem;
    border: none;

}

.theme_btn {
    width: 30%;
    display: flex;
    justify-content: center;
    background-color: #fae3d9;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#light {
    background-color: white;
    color: black;
}

#dark {
    color: white;
    width: 7.5rem;
}

main {
    width: 30rem;
    height: fit-content;
    padding: 1.3rem;
    margin: .8rem;
    border-radius: 1.3rem;
    background-color: white;
    margin: auto;

}

main>h3 {

    font-family: system-ui;
}

.add_note {
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    padding: 10px;
    border-radius: 10px;
    margin: 20px 0;
}

#note_icon {
    width: 1.5rem;
}

.add_note aside {
    display: flex;
    justify-content: space-between;
}

.add_note>p {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}

.add_note p:last-child {
    display: flex;
    justify-content: end;
}

ion-icon {
    font-size: 1.5rem;
}

input {
    border: none;
    outline: none;
    margin-top: 5px;
    padding-left: 1rem;
    background-color: transparent;
}

input::placeholder {
    font-weight: bold;
    font-size: .9rem;
}

textarea {
    border: none;
    outline: none;
    padding: 1rem;
    background-color: transparent;
}

cite {
    font-size: .8rem;
    margin: 4px 13px;
}

#save {
    width: 5rem;
    float: right;
    background-color: #FFD800;
    border-radius: 1.25rem;
    border: none;
    height: 1.5rem;
    color: white;
    font-weight: bold;
}

#save:hover {
    background-color: lightgreen;

}

.saved_note {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-evenly;
    row-gap: 10px;
    padding: 10px;
    width: 28rem;
}


.saved_note>article:nth-child(2n) {
    background-color: #fae3d9;
}

.saved_note>article:nth-child(3n) {
    background-color: #bbded6;
}

.saved_note>article:nth-child(4n) {
    background-color: #ffb6b9;

}

.note {
    width: 12.5rem;
    height: fit-content;
    background-color: #8ac6d1;
    padding: 10px 10px 5px 10px;
    border-radius: .5rem;
    font-family: cursive;
    display: flex;
    flex-direction: column;
}

.date {
    font-size: .8rem;
    font-family: sans-serif;
}


.note p {
    display: flex;
    justify-content: space-between;
}

.note h5 {
    font-family: sans-serif;
    margin: 8px 0;

}

.saved_note .note ion-icon {
    font-size: 1rem;
}

.note button {
    border: none;
    font-weight: bold;
    color: blue;

    background-color: transparent;
    align-self: flex-end;

}

#text {
    font-size: .7rem;
    font-weight: normal;

}

.note span ion-icon {
    color: yellow;
}

.note button {
    display: flex;
    align-items: center;
}

.note #done {
    border-radius: 0.9rem;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
    color: white;
    padding: 0.1rem 0.6rem;
}

.note button span {
    all: unset;
}


body {
    background-color: #393E46;
    color: white;
}

main {
    color: white;
    background-color: #2d095c;
}

.add_note {
    background-color: #20366b;

}

.note {
    background-color: #716e77;
}

input {
    color: white;
}

textarea {
    color: white;
}

#note_icon {
    display: none;
}

#share {
    color: white;
}

.theme_btn {
    background-color: white
}

#light {
    background-color: white
}

#dark {
    background-color: black
}